<div class="mian_b">
<div class="mian_b1">
    <div class="mian_data_src">实验数据源</div>
    <div class="mian_select">
        <select ng-model="selectedDataSource" data-ng-change="changeDataSource()" data-ng-options="item for item in dataSources">
        </select>
    </div>
    <a class="mian_data_process" href="#" ng-click="preprocessData()">数据预处理</a>
    <a class="mian_data_process" href="#" ng-click="dataLoad()">数据加载</a>
    <a class="main_data_result_about" href="#" ng-click="save()">保存</a>
    <a class="main_data_result_about" href="#" ng-click="computeMultipleXError()">批量误差计算</a>
    <a class="main_data_result_about" href="#" ng-click="computeCV()">CV</a>
    <!--a class="main_data_result_about" href="{% url 'show_curve_result' %}">拟合</a-->
    <a class="main_data_result_about" ui-sref="curve">拟合</a>
    <a class="main_data_result_about" href="#" ng-click="loadRealx()">导入真实浓度</a>
</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mian_b_bg">
<tr>
    <td width="10%" class="mian_b_bg_lm"><input type="checkbox" ng-model="isSelectAll" ng-click="selectAll(isSelectAll)" ng-show="hasData"><span></span>文件名称</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线位置</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线位置</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线灰度值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线灰度值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线底噪值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线底噪值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线信号比</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线信号比</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>x真实浓度</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>x计算浓度</td>
    <td class="mian_b_bg_lm"><input type="checkbox" ng-model="isComputeErrorAll" ng-click="computeErrAllCheckOrUncheck(isComputeErrorAll)"><span></span>误差</td>
</tr>
<tr ng-repeat="dataItem in dataItems">
    <td><input type="checkbox" ng-show="hasData" ng-model="dataItem.isSelectedForCurve">{{ dataItem.file_name }}</td>
    <td>{{ dataItem.c_location }}</td>
    <td>{{ dataItem.t_location }}</td>
    <td>{{ dataItem.c_huidu }}</td>
    <td>{{ dataItem.t_huidu }}</td>
    <td>{{ dataItem.c_zao }}</td>
    <td>{{ dataItem.t_zao }}</td>
    <td>{{ dataItem.c_xinhao }}</td>
    <td>{{ dataItem.t_xinhao }}</td>
    <td>{{ dataItem.x_real }}</td>
    <td>{{ dataItem.x_compute }}</td>
    <td>
        <input type="checkbox" ng-show="hasData" ng-model="dataItem.isSelectedForCompErr">
        <a ng-if="!dataItem.hasComputed" href="#" ng-click="computeError(dataItem.id)"><img class="computeError" src="static/images/computeErr.png" height="15px" width="15px"></a>
        <span>{{ dataItem.x_error }}</span>
    </td>
</tr>
</table>
</div>