<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>无标题页</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body class="main_bj" ng-app="Hello" ng-controller="helloCtrl">    <!--ng-app 指向你的app名  ng-controller指向你的controller名-->
<div class="mian_top_01">
    <div class="mian_top_r"></div>
    <div class="mian_top_l"></div>
    <div class="mian_top_c">
        <ul>
            <li><a><p>未完成的任务</p></a></li>
        </ul>
    </div>
</div>
{% block mainbody %}
<div class="mian_b">
<div class="mian_b1">
    <div class="mian_data_src">实验数据源</div>
    <div class="mian_select">
        <select ng-model="selectedDataSource" data-ng-change="changeDataSource()" data-ng-options="item for item in dataSources">
        </select>
    </div>
    {% csrf_token %}
    <a class="mian_data_process" ng-click="preprocessData()">数据预处理</a>
    <a class="mian_data_process" ng-click="dataLoad()">数据加载</a>
    <a class="main_data_result_about" ng-click="save()">保存</a>
    <a class="main_data_result_about" ng-click="computeCV()">CV</a>
    <a class="main_data_result_about" href="{% url 'show_curve_result' %}">拟合</a>
    <a class="main_data_result_about" ng-click="loadRealx()">导入真实浓度</a>
</div>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mian_b_bg">
<tr>
    <td width="15%" class="mian_b_bg_lm"><input type="checkbox" ng-model="isSelectAll" ng-click="selectAll()" ng-show="hasData"><span></span>文件名称</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线位置</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线位置</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线灰度值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线灰度值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线底噪值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线底噪值</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>C线信号比</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>T线信号比</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>x真实浓度</td>
    <td width="8%" class="mian_b_bg_lm"><span></span>x计算浓度</td>
    <td class="mian_b_bg_lm"><span></span>误差</td>
</tr>
{%  verbatim %}
<tr ng-repeat="dataItem in dataItems">
    <td><input type="checkbox" ng-show="hasData" ng-model="dataItem.isSelected" ng-checked="isSelectAll">{{ dataItem.file_name }}</td>
    <td>{{ dataItem.c_location }}</td>
    <td>{{ dataItem.t_location }}</td>
    <td>{{ dataItem.c_huidu }}</td>
    <td>{{ dataItem.t_huidu }}</td>
    <td>{{ dataItem.c_zao }}</td>
    <td>{{ dataItem.t_zao }}</td>
    <td>{{ dataItem.c_xinhao }}</td>
    <td>{{ dataItem.t_xinhao }}</td>
    <td>{{ dataItem.x_real }}</td>
    <td>{{ dataItem.x_compute }}</td>
    <td>{{ dataItem.x_error }}</td>
</tr>
{%  endverbatim %}
</table>
</div>
{% endblock %}
</body>
</html>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controller.js' %}"></script>